<% include ../partials/header %>
<div class="container">
	<div class="jumbotron">
		<h2>Page</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th> Url </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
			    <% pages.forEach(function(page) { %>
			    	<tr>
			        	<td><%= page.name %> </td>
			        	<td><%= page.url %></td>
			        	<td> <a href="/users/edit/<%= page.id %>"> edit</a></td>
			        </tr>
			    <% }); %>
		    </tbody>
		</table>
	</div>
</div>
<% include ../partials/footer %>