<% include ../partials/header %>
<div class="container">
	<% if (message.length > 0) { %>
        <div class="alert alert-info"><%= message %></div>
    <% }%>

	<div class="col-xs-12">
		<h2>Users</h2>
	</div>
</div>
<% include ../partials/footer %>